/* Flex grid */

.fd-f0 {
  flex: auto
}

.fd-f1 {
  flex: 1
}

.fd-f2 {
  flex: 2
}

.fd-f3 {
  flex: 3
}

.fd-f {
  display: flex
}

.fd-c {
  flex-direction: column
}

.fd-c-center {
  display: flex;
  flex-direction: column;
  align-items: center
}

.fd-c-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.fd-f-left {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.fd-f-left-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fd-f-right {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.fd-f-right-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.fd-f-right-middle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fd-f-right-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.fd-f-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.fd-f-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-f-center-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fd-f-around {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.fd-f-around-middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fd-f-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fd-f-between-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
